@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Neucha&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=DM+Sans:wght@400;500&family=Neucha&family=Poppins:wght@500&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
    font-family: "Cedarville", cursive;
  }
}
